<!DOCTYPE html>

<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:fragment="banner" class="banner">
            <p style="font-weight: bold">¿Dónde quiere estacionar?</p>
            <p>Reserve su espacio y estacione ahora</p>
            <br>
            <a th:href="@{/usuario/registrar}">Registrese ahora</a>
        </div>
    </body>
</html>