<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="../css/estilos.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    </head>
    <body style="overflow-y: hidden">
        <!-- Renderizamos el header -->
        <header th:replace="~{layout/plantilla_2 :: header}"/>

        <!-- Vídeo de fondo -->
        <div class="overlay"></div>
        
        <div class="video-banner"> 
            <div class="video-banner-seach-title">
                <h2>Empecemos...</h2>
                <p>Elija entre millones de espacios disponibles o reserve su espacio con anticipación. Únase a más de 10 millones de conductores que disfrutan de fácil estacionamiento.</p>
                <input type="search" /> 
                <button>Buscar</button>
            </div>
        </div>

        <video controls="false" muted loop autoplay>
            <source src="../videos/parking lot.mp4" type="video/mp4">
        </video>
    </body>
</html>
